body{
    display: grid;
    grid-template-columns: 30vh 70vh;
    grid-template-rows: 25vh 55vh 15vh;
}

img{
    grid-column: 1/2;
    grid-row: 1/2;
    max-height: 90%;
    max-width: 90%;
    border: solid black 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}


.hjälp{
    grid-column: 1/2;
    grid-row: 2/3;
    border: solid black 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 15%;
}

.top{
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    margin: 5px;
    padding-top: 15px;
    
    grid-column: 2/4;
}

.artiklar{
    grid-column: 2/4;
    grid-row: 2/3;
}

.ett{
    border: solid black 1px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    min-height: 32%;
}

.två{
    border: solid black 1px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    min-height: 32%;
}

.tre{
    border: solid black 1px;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    min-height: 32%;
}

.footer{
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    grid-column: 2/4;
    grid-row: 3/4;
    margin: 5px;
}